html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 10px;
    background: #ffc600;
}

.photobooth {
    background: white;
    max-width: 150rem;
    margin: 2rem auto;
    border-radius: 2px;
}


/*clearfix*/

.photobooth:after {
    content: '';
    display: block;
    clear: both;
}

.player {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
}


/*
  Strip!
*/

.strip {
    padding: 2rem;
}

.strip img {
    width: 100px;
    overflow-x: scroll;
    padding: 0.8rem 0.8rem 2.5rem 0.8rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: white;
}

.strip a:nth-child(5n+1) img {
    rotate: 10deg;
}

.strip a:nth-child(5n+2) img {
    rotate: -2deg;
}

.strip a:nth-child(5n+3) img {
    rotate: 8deg;
}

.strip a:nth-child(5n+4) img {
    rotate: -11deg;
}

.strip a:nth-child(5n+5) img {
    rotate: 12deg;
}

.controls {
    display: flex;
}

.controls>* {
    flex: 0;
}

.rgb,
.actions {
    width: 25%;
    flex-basis: 30%;
    border: 1px solid #CCCCCC;
    border-radius: 7px;
    padding: 5px;
    margin: 1em;
}

button.take_photo {
    width: 10%;
    flex-basis: 10%;
    margin: 2em 1em 2em 0;
}
