	:root {
		--base: #ffc600;
		--spacing: 10px;
		--blur: 10px;
	}

	/*      misc styles, nothing to do with CSS variables    */

	body {
		background: #193549;
		color: white;
		font-family: 'helvetica neue', sans-serif;
		font-weight: 100;
		font-size: 50px;
		text-align: center;
	}

	.controls {
		margin-bottom: 50px;
	}

	input {
		width:100px;
	}

	img {
		padding: var(--spacing);
		background: var(--base);
		filter: blur(var(--blur));
	}

	.hl {
		color: var(--base);
	}